$color-red: #F94F4F;
$color-bg-black: #191921;
$color-white: #FFF;
$color-text-black: #000;


$font-primary: 'Commissioner',
serif;

$bp-340: 21.25em; // 340
$bp-tablet : 37.5em; //600
$bp-desktop : 62.5em; //1000



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

$bp-tablet : 37.5em; //600
$bp-desktop : 62.5em; //1000

html {

    box-sizing: border-box;
    scroll-behavior: smooth;



}

body {

    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: $font-primary;

}

main {
    // padding: 1rem;
}

.master-container {
    max-width: 1140px;
    margin: 0 auto;

}

.h1 {
    font-size: 40px;
    line-height: 40px;

    @media only screen and (min-width: $bp-tablet) {
        font-size: 80px;
        line-height: 88px;
    }



}

.h2 {
    font-size: 32px;
    line-height: 40px;
}

.h3 {
    font-size: 20px;
    line-height: 32px;
}

.body-text {
    font-size: 18px;
    line-height: 32px;
}

.header__hero-img,
.info__hero-img,
.guidelines__img {
    display: block;
    width: 100%;
}

// INFO SECTION


//DESIGN

.info {

    &__top-img-container {}

    &__top-img {}

    &__description-container {
        position: relative;
        background-color: $color-bg-black;
        color: $color-white;
        padding: 5rem 2rem;
        padding-top: 72px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__hero-img {
        display: block;
    }

    &__wave {
        color: $color-red;
        font-size: 172px;
        font-weight: 800;
        position: absolute;
        top: -30px;
    }

    &__description-heading {}

    &__red-text {
        color: $color-red;
    }

    &__description {}

    &__cta {
        color: $color-red;
        font-weight: 800;
        text-decoration: none;
        color: $color-red;
        border-bottom: 2px solid $color-red;
        max-width: 120px;
        padding-bottom: 0.5rem;
        cursor: pointer;

    }
}


// STEPS

.steps {
    background-color: $color-red;
    color: $color-white;
    padding: 5rem 2rem;


    &__heading-container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    &__heading {
        margin-top: 50px;
    }

    &__box-top-container {
        position: relative;
    }

    &__box {}

    &__number {
        position: absolute;
        font-size: 80px;
        font-weight: 800;
        opacity: 0.3;
        bottom: 17px;

    }

    &__sub-heading {
        padding-left: 1rem;
    }

    &__description {
        margin-top: 1rem;
    }
}

// GUIDELINES

.guidelines {

    &__picture-container {
        position: relative;
    }

    &__caption {
        position: absolute;
        display: flex;
        flex-direction: column;
        color: white;
        font-weight: 800;
        right: 20px;
        bottom: 40px;
        z-index: 1000;
    }

    &__caption-below {
        font-weight: 400;
        text-align: right;
    }

    &__img {
        // filter: brightness(50%);


    }
}

// GUIDELINES
.guidelines-overlay {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        display: block;
        top: 342px;
        bottom: 28px;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 1);
        filter: blur(50px);
    }
}


// CONTROLS
.controls {
    // height: 272px;
    padding: 3.5rem 1.5rem;
    background-color: $color-bg-black;
    display: flex;
    align-items: center;

    &__inner-container {
        display: flex;
        flex-direction: column;
        width: 327px;
        justify-items: center;
        gap: 2rem;
        // margin-left: 2rem;

    }

    &__heading {
        color: $color-white;
    }

    &__buttons-container {
        display: flex;
        gap: 1rem;
    }

    &__next-btn,
    &__prev-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background: transparent;
    }


}

// SLIDER
.slider {
    position: relative;
    height: 404px;
    overflow: hidden;
}

.slide {
    position: absolute;
    height: 404px;
    width: 100%;

}

.slider-img {
    display: block;
    object-fit: cover;
    width: 100vw;
    height: 450px;
}




// FOOTER
.footer {
    padding: 3.5rem 1.5rem;

    &__content {}

    &__heading {}

    &__cta {
        font-size: 18px;
        font-weight: 800;
        color: #FFF;
        background-color: #F94F4F;
        border: 0;
        width: 177px;
        height: 64px;
        margin-top: 25px;
        cursor: pointer;
    }
}