$color-red: #F94F4F;
$color-bg-black: #191921;
$color-white: #FFF;
$color-text-black: #000;


$font-primary: 'Commissioner',
serif;

$bp-tablet : 37.5em; //600
$bp-desktop : 62.5em; //1000



*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

$bp-tablet : 37.5em; //600
$bp-desktop : 62.5em; //1000

html {

    box-sizing: border-box;
    scroll-behavior: smooth;
    


}

body {

    font-size: 16px;
    line-height: 26px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: $font-primary;
   
}

.h1 {
    font-size: 80px;
    line-height: 88px;
}

.h2 {
    font-size: 56px;
    line-height: 64px;
}

.h3 {
    font-size: 20px;
    line-height: 32px;
}

.regular {
    font-size: 18px;
    line-height: 32px;
}




