.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;

  @media only screen and (min-width: $bp-tablet) {
    padding: 0;
  }

  &__left-content {
    @media only screen and (min-width: $bp-tablet) {
      margin: auto 0;
    }
  }

  &__right-content {
    position: relative;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1.5rem;

    @media only screen and (min-width: $bp-tablet) {
      flex-direction: row;
      flex: 1;
      align-items: center;
      margin: 0;
    }
  }

  &__popout-box {
    display: none;
    position: absolute;
    background-color: $color-bg-black;
    padding: 1.5rem;
    right: 2px;
    width: 252px;
    top: 69px;
    text-align: center;
    font-size: 18px;

    @media only screen and (min-width: $bp-tablet) {
      display: block;
      background-color: #f94f4f;
      width: 483px;
      padding: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      position: static;
      margin-left: 1rem;
    }

    @media only screen and (min-width: $bp-desktop) {
      width: 705px;
      padding: 4rem 4rem 4rem 5rem;
      justify-content: flex-start;
    }
  }

  &__popout-inner {
    @media only screen and (min-width: $bp-tablet) {
      display: flex;
      gap: 2rem;
    }
  }

  &__popout-box.show {
    display: block;
  }

  &__cta {
    color: $color-white;
    background-color: $color-red;
    padding: 0.4rem;
    font-weight: 800;
    border: 0;
    width: 199px;
    height: 64px;
    cursor: pointer;

    @media only screen and (min-width: $bp-tablet) {
      background-color: #191921;
      width: 147px;
    }

    @media only screen and (min-width: $bp-desktop) {
      width: 199px;
      &:hover {
        background-color: #434356;
      }
    }
  }

  &__item {
  }

  &__list-link {
    color: #fff;
    text-decoration: none;
  }

  &__logo {
    @media only screen and (min-width: $bp-tablet) {
      margin-left: 2rem;
    }
  }
}

.hamburger-menu {
  background-color: transparent;
  background-image: url(../assets/mobile/icon-hamburger.svg);
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  width: 24px;
  height: 24px;
  background-position: center center;
  padding-top: 5px;

  @media only screen and (min-width: $bp-tablet) {
    display: none;
  }
}

.hamburger-menu.active {
  background-image: url(../assets/mobile/icon-cross.svg);
}


svg:hover circle,
svg:hover path{
  stroke: #FF9393;
  
}

